body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* NAV STYLE */
header {
    background-color: #333;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu-icon {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-links a:hover {
    background-color: #555;
}
.logo {
    transition: color 0.3s ease;
}
nav:hover .logo {
    color: #ffd700;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }
    .nav-links.show {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
    .logo {
        text-align: center;
    }
}

/* CONTENT */
.content{
    padding: 20px;
    background-color: #b1b0b0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card {
    flex: 0 0 calc(30% - 20px);
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.text-inside-image {
    text-align: left;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.card-content {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}
.button {
    background-color: #000;
    color: white;
    padding: 10px 130px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.button:hover {
    background-color: #333;
}

/* CONTENT STYLE 2 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
img {
    max-width: 100%;
    height: auto;
}
.image-container img {
    display: block;
    margin: 0 auto;
}
.caption {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .card {
        flex: 0 0 100%;
    }
    .button {
        width: 100%;
    }
}

/* FOOTER STYLE */
p{
    color: #4d4d4d;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #949494;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}
.social-icons i {
    transition: color 0.3s ease-in-out;
}
.social-icons a:hover {
    background-color: #ffd700;
}
.social-icons a:hover i {
    color: #fff;
}
.footer-content p {
    margin: 10px 0 0;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .footer-content {
        text-align: center;
    }
    .social-icons {
        margin-top: 20px;
    }
}